*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d5f8e5;
}

.formulario{
    width: 400px;
    background: #91dbb4;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 6px;
    font-family: 'Poppins';
}

.formulario h1{
    font-size: 36px;
    font-family: 'Poppins';
    text-align: center;
}

.formulario h5{
    font-size: 15px;
    font-family: 'Poppins';
    color: rgb(155, 49, 80);
    padding: 4px 0;
}

.diseño {
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 2px solid transparent;
    font-family: 'roboto';
    font-size: 15px;
    transition: 0.7s ease all;
}

.diseño:focus{
    border: 2px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 38px rgba(163, 163, 163, 0.4);

}

.formulario p{
    height: 40px;
    color: red;
    font-size: 12px;
}


.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo{
    display: block;
}


.formulario a {
    color: black;
    text-decoration: none;
}



.formulario a:hover{
    color:black;
    text-decoration: underline;
}

.formulario .cuenta1:hover {
    color:rgb(155, 49, 80);
    text-decoration: underline;
}

.cuenta{
    text-align: center;
}

.formulario label{
    font-size: 14px;
}

.formulario .checkbox{
    background-color: brown;
}

.formulario .boton{
    width: 100%;
    background: #518f6e;
    border: none;
    padding: 10px;
    color: white;
    font-size: 15px;
    margin: 15px 0;
}



.formulario__grupo-incorrecto .diseño {
	border: 3px solid #bb2929;
}